body {
  font-family: 'Ubuntu', sans-serif!important;
  position: relative;
  min-height: 100vh;
  padding-bottom: 10rem;    /* Footer height */
  overflow-x: hidden;
}


.jumbotron {
  background-color: #FDEFC1;
  text-align: center;
}
/* NAVBAR */
.navbar-nav {
  margin: auto;
  font-size: 18px;
}
/* CONNEXION */
.connexion {
  max-width: 800px;
  margin: auto;
}
/* INSCRIPTION */
.inscription {
  max-width: 750px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 35px -27px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 6px 35px -27px rgba(0,0,0,0.36);
  box-shadow: 0px 6px 35px -27px rgba(0,0,0,0.36);
}

/* MON COMPTE */
.photoProfil {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.moncompte-block1 {
  border-radius: 5px;
  height: 510px;
  max-width: 600px;
  margin: auto;
}

.moncompte-titre{
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
}

.moncompte-block1 > form {
  max-width: 365px;
  margin: auto;
  padding-top: 25px;
}

.moncompte-block1 > form > button {
  margin-top: 25px;
}

.moncompte-block2 {
  border-radius: 5px;
  overflow-y: scroll;
  height: 510px;
  padding-top: 50px;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

/* SCROLL BAR */
.moncompte-block2::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #F5F5F5;
}

.moncompte-block2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.moncompte-block2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #fdefc1;
}

.moncompte-block3 {
  border-radius: 5px;
  height: 510px;
  padding-top: 50px;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.moncompte-block3 > img {
  width: 100px;
}

/* DEGUSTATION */
.degustation {
  text-align: center;
  margin: auto;
}
.degustation .form-group {

}

/* FOOTER */
.footer	{
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  bottom: 0;
  width: 100%;
  height: 10rem;            /* Footer height */
  background-color: #FDEFC1;
  text-align: center;
}
.footer  h5 {
    margin-top: 70px;
}
